/* Fonts */
@font-face {
  font-family: 'nathanmedium';
  src: url('../fonts/nathan-exbp-webfont.woff2') format('woff2'),
    url('../fonts/nathan-exbp-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'base_02regular';
  src: url('../fonts/base_02-webfont.woff2') format('woff2'),
    url('../fonts/base_02-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontin_sansregular';
  src: url('../fonts/fontin_sans_r_45b-webfont.woff2') format('woff2'),
    url('../fonts/fontin_sans_r_45b-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontin_sansbold';
  src: url('../fonts/fontin_sans_b_45b-webfont.woff2') format('woff2'),
    url('../fonts/fontin_sans_b_45b-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* CSS Document */
/* jouw CSS vanaf hier */
/* Simpele CSS Remedy - naar een idee van Jen Simmons van Sanne*/
/* https://github.com/jensimmons/cssremedy */
*, *::after, *::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-main: #fff;
  --color-background: #ccc;
}

/*************/
/* MIJN CODE */
/*************/
h1 {
  font-weight: normal;
  margin: 0em;
  color: #fefefe;
  text-shadow: 2px 3px 7px rgba(19,19,19,0.8);
}

body {
  font-family: 'base_02regular';
  /* mijn code hier */
  height: 100vh;
  margin: 0;
}

main>ol {
  /* mijn code hier */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 100vh;
}

main>ol>li {
  display: grid;
  place-items: center;
  flex-grow: 1;
  flex-basis: 0%;
  transition: 1s;
  font-size: 40px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 2em;
}

main>ol>li:hover {
  flex-basis: 40%;
}

main>ol>li:nth-of-type(1) {
  background-image: url(../images/1988Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main>ol>li:nth-of-type(2) {
  background-image: url(../images/1991Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main>ol>li:nth-of-type(3) {
  background-image: url(../images/2001Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main>ol>li:nth-of-type(4) {
  background-image: url(../images/2007Cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main>ol>li:nth-of-type(5) {
  background-image: url(../images/2009Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main>ol>li:nth-of-type(6) {
  background-image: url(../images/2011Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main>ol>li:nth-of-type(7) {
  background-image: url(../images/2016Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

li article section:first-of-type p:first-of-type {
  padding: 0.2em 1em;
  font-family: "nathanmedium";
  display: inline-block;
  font-size: 1em;
}

li article section:first-of-type p {
  font-family: "nathanmedium";
  font-size: 0.8em;

}

li article section:first-of-type {
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.2em;
  border: solid beige;
  border-width: 4em 3em 12em 3em;
  background-color: white;
  position: absolute;
  font-size: 0.8em;
  transform: rotate(-10deg) scale(0.6) translate(-84px, 10px);
  border-radius: 0.15em;
}

li article section:first-of-type p{
  margin: 0em;
}

li:hover article section:first-of-type {
  animation-name: drakeFileThrow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

li:hover article section:nth-of-type(2) {
  animation-name: descriptionFade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

li article section:nth-of-type(2) {
  color: white;
  text-align: left;
  font-size: 0.4em;
  position: absolute;
  bottom: 1.5em;
  font-family: 'fontin_sansregular';
  width: 30%;
  margin: 0em 1.5em;
  opacity: 0;
  z-index: 999;
}

a, a:visited {
  color: white;
  text-decoration: none;
  font-family: 'fontin_sansbold';
}

a:hover {
  text-decoration: underline;
}

.drakeImage {
  pointer-events: none;
  transition: padding-left 1s, opacity 0.3s;
  opacity: 0;
  position: absolute;
  bottom: 0;
  height: 77%;
}

li:hover .drakeImage {
  animation-name: drakeDelayFade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes drakeDelayFade {
  0% {
    opacity: 0;
    padding-left: 6em;
  }

  50% {
    opacity: 0;
    padding-left: 6em;
  }

  100% {
    opacity: 1;
    padding-left: 3em;
  }
}

@keyframes drakeFileThrow {
  0% {
    opacity: 0;
    transform: rotate(15deg) scale(0.7) translate(120px, 600px);
  }


  100% {
  transform: rotate(-10deg) scale(0.7) translate(-84px, 10px);
  opacity: 1;
  }
}

@keyframes descriptionFade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
