/*********/
/* FONTS */
/*********/
@font-face {
  font-family: 'nathanmedium';
  src: url('../fonts/nathan-exbp-webfont.woff2') format('woff2'),
    url('../fonts/nathan-exbp-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'base_02regular';
  src: url('../fonts/base_02-webfont.woff2') format('woff2'),
    url('../fonts/base_02-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontin_sansregular';
  src: url('../fonts/fontin_sans_r_45b-webfont.woff2') format('woff2'),
    url('../fonts/fontin_sans_r_45b-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontin_sansbold';
  src: url('../fonts/fontin_sans_b_45b-webfont.woff2') format('woff2'),
    url('../fonts/fontin_sans_b_45b-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root h1 {
  font-weight: normal;
  margin: 0em;
  color: #fefefe;
  text-shadow: 2px 3px 7px rgba(19, 19, 19, 0.8);
}

/**********/
/* HEADER */
/**********/
header {
  position: absolute;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'fontin_sansbold', sans-serif;
  font-size: 1.6em;
  animation-name: titleScreenFade;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

header img {
  width: 80vw;
}

body {
  font-family: 'base_02regular', sans-serif;
  height: 100vh;
  margin: 0;
}

/* bron: Simpele CSS Remedy -  van Sanne naar een idee van Jen Simmons*/
/* https://codepen.io/shooft/pen/XWZKdgM & https://github.com/jensimmons/cssremedy */
*, *::after, *::before {
  box-sizing: border-box;
}

main>ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 100vh;
}

main>ol>li {
  display: grid;
  place-items: center;
  flex-grow: 1;
  flex-basis: 0%;
  transition: 1s;
  font-size: 40px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 2em;
}

main>ol>li:hover {
  flex-basis: 40%;
}

main>ol>li:nth-of-type(1) {
  background-image: url(../images/1988Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main>ol>li:nth-of-type(2) {
  background-image: url(../images/1991Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main>ol>li:nth-of-type(3) {
  background-image: url(../images/2001Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main>ol>li:nth-of-type(4) {
  background-image: url(../images/2007Cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main>ol>li:nth-of-type(5) {
  background-image: url(../images/2009Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main>ol>li:nth-of-type(6) {
  background-image: url(../images/2011Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main>ol>li:nth-of-type(7) {
  background-image: url(../images/2016Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
}

li article section:first-of-type p:first-of-type {
  padding: 0.2em 1em;
  font-family: "nathanmedium", sans-serif;
  display: inline-block;
  font-size: 1em;
}

li article section:first-of-type p {
  font-family: "nathanmedium", sans-serif;
  font-size: 0.8em;
}

li article section:first-of-type {
  opacity: 0;
  white-space: nowrap;
  padding: 0.2em;
  border: solid beige;
  border-width: 3em 2em 10em 2em;
  background-color: white;
  position: absolute;
  font-size: 0.8em;
  transform: rotate(-10deg) scale(0.6) translate(-84px, 10px);
  border-radius: 0.15em;
}

li:nth-of-type(1) article section:first-of-type {
  border: none;
  top: 12em;
  left: 5em;
  font-size: 0.6em;
  background-color: transparent;
  filter: brightness(0.9);
}

li:nth-of-type(1) article section:first-of-type img {
  max-width: 178%;
  position: absolute;
  left: -3em;
  top: -4em;
  z-index: -1;
}

li:nth-of-type(2) article section:first-of-type {
  border: none;
  top: 11em;
  background-color: transparent;
  filter: brightness(0.9);
}

li:nth-of-type(2) article section:first-of-type img {
  max-width: 150%;
  position: absolute;
  left: -2em;
  top: -3em;
  z-index: -1;
}

li:nth-of-type(3) article section:first-of-type {
  border: none;
  top: 12em;
  left: 15em;
  font-size: 0.6em;
  background-color: transparent;
  filter: brightness(0.9);
}

li:nth-of-type(3) article section:first-of-type img {
  max-width: 178%;
  position: absolute;
  left: -3.5em;
  top: -4.2em;
  z-index: -1;
}

li:nth-of-type(3) article section:first-of-type img.mugshot {
  display: block;
  position: absolute;
  left: -4em;
  top: 5em;
  width: 7em;
  transform: rotate(-10deg);
}

li:nth-of-type(4) article section:first-of-type {
  border: none;
  background-color: transparent;
  transform: rotate(-10deg) scale(0.5) translate(-84px, 10px);
  filter: brightness(0.9);
}

li:nth-of-type(5) article section:first-of-type {
  top: 17em;
  border: none;
  background-color: transparent;
  font-size: 0.5em;
  transform: rotate(-10deg) scale(1) translate(-84px, 10px);
  border-radius: 0.15em;
  filter: brightness(0.9);
}

li:nth-of-type(5) article section:first-of-type img {
  max-width: 250%;
  position: absolute;
  left: -2em;
  top: -8em;
  z-index: -1;
  pointer-events: none;
}

li:nth-of-type(6) article section:first-of-type {
  border: none;
  background-color: transparent;
}

li:nth-of-type(6) article section:first-of-type img {
  max-width: 120%;
  position: absolute;
  left: -3em;
  top: -4em;
  z-index: -1;
}

li:nth-of-type(7) article section:first-of-type {
  border: none;
  background-color: transparent;
}

li:nth-of-type(7) article section:first-of-type img {
  max-width: 130%;
  position: absolute;
  left: -3em;
  top: -4em;
  z-index: -1;
}

li article section:first-of-type ::after {
  width: 200px;
  height: 200px;
  background-color: red;
  display: block;
}

li article section:first-of-type p {
  margin: 0em;
}

li:hover article section:first-of-type {
  animation-name: drakeFileThrow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

li:hover article section:nth-of-type(2) {
  animation-name: descriptionFade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  ı
}

li article section:nth-of-type(2) {
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: left;
  font-size: 0.4em;
  position: absolute;
  bottom: 1.5em;
  font-family: 'fontin_sansregular', sans-serif;
  width: 30%;
  margin: 0em 1.5em;
  opacity: 0;
  z-index: 999;
  background-color: rgb(68, 44, 18, 0.8);
  padding: 1em;
  background-image: url('../images/oldpapertexture.png');
}

.logo {
  display: block;
  position: absolute;
  bottom: 0;
  transition: opacity 0.3s;
  width: 4em;
}

li:hover .logo {
  opacity: 0;
  pointer-events: none;
}

.drakeImage {
  pointer-events: none;
  transition: padding-left 1s, opacity 0.3s;
  opacity: 0;
  position: absolute;
  bottom: 0;
  height: 77%;
  z-index: 100;
}

li:hover .drakeImage {
  animation-name: drakeDelayFade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

a, a:visited {
  text-decoration: none;
  color: white;
  font-family: 'fontin_sansbold', sans-serif;
  display: inline-block;
  position: relative;
}

a:focus {
  background-color: white;
}

a:active {
  color: #16558f;
}

/* bron: Hover underline animation -  van Trinityyi */
/* https://www.30secondsofcode.org/css/s/hover-underline-animation */
a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*************/
/* ANIMATION */
/*************/
@keyframes drakeDelayFade {
  0%, 50% {
    opacity: 0;
    padding-left: 6em;
  }

  100% {
    opacity: 1;
    padding-left: 3em;
  }
}

@keyframes drakeFileThrow {
  0% {
    opacity: 0;
    transform: rotate(15deg) scale(0.7) translate(120px, 600px);
  }

  100% {
    transform: rotate(-10deg) scale(0.7) translate(-84px, 10px);
    opacity: 1;
  }
}

@keyframes descriptionFade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes titleScreenFade {
  0% {
    opacity: 1;
    height: 100vh;
  }

  99% {
    opacity: 0;
    height: 100vh;
  }

  100% {
    opacity: 0;
    height: 0px;
  }
}
